body { 
 /*display:none;*/
 background: url(./img/new_year_background.png) repeat 0 0;
}

h1 {
 font-family: 'Lobster', Georgia, Times, serif;
 font-size: 120px;
 color: #66ccb3;
 line-height: 100px;
 text-align: center;
 padding: 25px;
 text-shadow: 1px 1px 1px #ccc;
}
 
h2, h3, h4, h5, p, .row {
 font-family: 'Cabin', Helvetica, Arial, sans-serif;
 font-size: 15px;
 line-height: 25px;
 text-align: center;
 padding: -20px;
}

h2 {
 font-size: 25px;
 text-shadow: 1px 1px 1px #ccc;
 font-style: bold;
}

h4, h5 {
 font-size: 18px;
 text-shadow: 1px 1px 1px #ccc;
 font-style: bold;
 margin-top: 10px;
 margin-bottom: 15px;
}

.defaultpage {
/* display: none;*/
}

.winner {
 display: none;
}

#puppies {
 height: auto; 
 width: auto; 
 max-width: 600px; 
 max-height: 600px;
 /*margin: 0 auto;*/
}

#winreplay {
 text-align: center;
 margin-top:15px;
 margin-bottom:20px;
 padding: 10px;
 font-size: 22px;
}

#loser {
 display: none;
}

.row{
font-size: 18px;
text-shadow: 1px 1px 1px #ccc;
}

.message{
font-size: 15px;
text-shadow: 1px 1px 1px #ccc;
}

.btn{
 font-family: 'Cabin', Helvetica, Arial, sans-serif;
 font-size: 15px;
 text-shadow: 1px 1px 1px #ccc;
}

.btn-default{
 margin-left: 46px;
 margin-top: 15px;
 padding: 8px;
 font-size: 18px;
 background-color: #66ccb3;
 color: #ffffff;
 border: 1px black;
 font-style: bold;
/* text-align: center;*/
}

.col-centered{
 float: none;
 margin: 0 auto;
}

.pull-left{
 margin-left: 100px;
}

.pull-right{
 margin-right: 100px;
}